body {
  margin: 0;
  min-height: 100vh;
  background: rgb(253, 246, 240);
  background: radial-gradient(circle 1100px at top right, pink, transparent),
  radial-gradient(circle 700px at top left, lightsalmon, transparent),
  radial-gradient(circle 700px at bottom right, sandybrown, transparent),
  radial-gradient(circle 1100px at bottom left, rgb(255, 214, 232), transparent);
}